
/*   全域設定border: 1px solid; */
* {
    margin: 0;
    padding: 0;
  }
  
  html,body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather','標楷體', 'serif';
    box-sizing: content-box;
  }
  
  
  /* 版面及元素初步尺寸樣式設定 */
  .wrap { /*可以看成是flex container，用div包覆整個body區域，有包含header和footer*/
    margin: 0 auto;
  }
  
  .content { /*整體內容區塊定義為box-level，整個內容區域，不包含header和footer-->*/
    display: flex;
    flex: 100%;
  }
  
  .left { /*版面左邊占比及背景*/
    flex: 30%;
    background-color: #f2efef;
    background-image:url("https://png.pngtree.com/thumb_back/fh260/background/20190916/pngtree-abstract-geometric-white-background-with-triangles-image_315703.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20px 20px 40px; /*版面左邊占比padding空白*/
  }
  

  .right { /*版面右邊占比*/
    flex: 70%;
    padding: 40px 20px 20px 20px;
  }
  
  /*li { 項目清單前符號
    list-style-type:circle ;
  }*/
  
  /* header裝修區 */
  .header {
    text-align: center;
    background-image: url('https://cdn.pizap.com/pizapfiles/images/photo_backgrounds_textures_app04.jpg');
    color: white;
    background-size: cover;
    background-position: 0 bottom;
    padding:10px 0 50px;
  }

  .header_itemrow1{margin-bottom: 15px;}
  div.header_itemrow1>a{margin:20px}
  .header_itemrow2{margin-bottom: 15px;}
  .header_itemrow2>a{margin:20px}

  /*導覽器區塊設定*/
    a:link {color: whitesmoke;text-shadow:3px 3px 3px sandybrown;} /*利用虛擬選擇器的動作虛擬類別對具有超連結的書籤進行css調整，有順序之分link和visit優先*/   
    a:visited {color: slategray;}
    a:hover {color: red;font-size: 24px;}
    a:active{color:green;}
    a:focus{color: yellow;} /*獲得焦點時（文字框)*/
    :target {background-color: greenyellow;} /*利用虛擬選擇器的目標虛擬類別對具有超連結的書籤進行css調整*/   
    nav{
    padding: 0;
    font-size: 20px;
    margin-bottom: 50px;
    }

    h4>a{margin: 20px ;
    } /*超連結指標間格*/

  .header h3 { 
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
    font-style: italic;
    text-shadow: 3px 3px 3px yellow;
  }
  
  .header h1 {
    font-size: 25px;
    letter-spacing: 4px; 
    padding: 20px 0px;
    text-shadow:4px 4px 4px orange;
  }
  
  .header h2 {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    border: 1px solid white;
    padding: 5px 20px;
    position: relative;
  }
  
  .header h2:before {
    display: block;
    content: "";
    border-top: 1px solid;
    width: 110px;
    position: absolute;
    right: 100%;
    top: 50%;
  }
  
  .header h2:after {
    display: block;
    content: "";
    border-top: 1px solid;
    width: 110px;
    position: absolute;
    left: 100%;
    top: 50%;
  }
  
  
  /* content left裝修區塊 */
  .profilePic {
    width: 240px;
    height: 240px;
    background-image: url('backgrounds/imm大頭照.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 20px auto;
  }
  
  .left table {
    margin-bottom: 20px;
    width: 90%;
  }
  
  .left th,td{ /* profile 間格線條 */
    border-bottom: 2px solid grey;
    text-align: left;
    line-height: 30px;
  }
  
  .left th { /* profile 表頭裝修區 */
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 20px;
    font-style: italic;
    color: purple;
    text-shadow: 4px 4px 3px sandybrown;
  }
  
  .left td { /* profile 表格內容裝修區 */
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .left tr td:nth-child(1) { /* profile 各table內容前綴第一個元素單字裝修區 */
    font-weight: 700;
    width: 40%;
  } 
  
  .left .peferences tr td {
    font-weight: 400;
  }
  
  .left .links td {
    border: none;
    padding-top: 5px;
  }
  
  .left .links td:nth-child(1) {
      text-align: center;
  }
  
  .left .links td:nth-child(1) .fab {
    color: white;
    background-color: #3d3838;
    padding: 5px;
    border-radius: 50%;
  }
  
  .left .links td:nth-child(1) .fa-facebook-f {
    padding: 5px 8px;
  }
  
  .left .links td:nth-child(1) .fa-linkedin-in {
    padding: 5px 6px;
  }
  


/* content left_personal traits裝修區塊 */
  .workSkill {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .circle { /*每個大圈圈設定*/
    width: 110px;
    height: 110px;
    background-color:azure;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  
  .circle .p90,.p180,.p270,.p360 {
    width: 100%;
    height: 100%;
    background-color: #3d3838;
    position: absolute;
  }
  
  .circle .p90 {
    left: 50%;
    top: -50%;
  }
  
  .circle .p180 {
    left: 50%;
    top: 50%;
  }
  
  .circle .p270 {
    right: 50%;
    top: 50%;
  }
  
  .circle .p360 {
    right: 50%;
    bottom: 70%;
  }

  
  .circle .smallCir {  /*中圈圈的設定*/
    width: 78%;
    height: 78%;
    background-color: lavender;
    border-radius: 50%;
    z-index: 1000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  
  .circle .smallCir span { /*圈內字體設定*/
    display: inline-block;
    margin: 35px auto;
    font-size: 14px;
    color: navy;
  }


  /* content right 裝修區 */
  .profile,.work,.education,.software,.ceitem,.hr,.profe_div,.prolist_div,.autobio,.hobbies { /*定義個區塊的間格*/
    margin-bottom: 20px;
  }
  
  .right h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;

    letter-spacing: 2px;
    font-weight: 900;
    font-size: 20px;
    font-style: italic;
    color: purple;
    text-shadow: 4px 4px 3px sandybrown;
  }
  
  .right p {
    font-size: 16px;
    line-height: 20px;
  }
  
  /*工作區塊定義*/
  .work{
    background: url(backgrounds/workexperience.png) no-repeat;
    background-size: cover;
          }

  .work ul>li { 
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .work ul li span { /*工作區塊方形label設定*/
    display: inline-block;
    height: 44px;
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    background-color: #3d3838;
    position: relative;
    z-index: 0;
  }
  
  .work ul li span:after { /*工作區塊菱形label設定*/
    content: "";
    background-color: #3d3838;
    display: inline-block;
    position: absolute;
    width: 38px;
    height: 34px;
    top: 16px;
    right: -11%;
    transform: rotate(49deg) translateY(-30%);
    z-index: -1;
  }
  
  .work ul>li ul {  /*工作內容區塊小圓頭下方線設定*/
    border-left: 1px solid #3d3838;
    margin-left: 20px;
    padding-left: 10px;
    display: flex;
    position: relative;
    font-family: 'Times New Roman', Times, serif,'BiauKai';
    line-height: 150%;
    left: 2%;
  }
  
  .work ul>li ul:before { /*工作內容區塊上方小圓頭設定*/
    content: "";
    width: 10px;
    height: 10px;
    background-color: #3d3838;
    border-radius: 50%;
    position: absolute;
    left: -1.8%;
  }
  
  .work ul>li ul li { /*工作內容區塊個項目item項目間格，flex方向設定*/
      flex-direction: column;
      margin: 5px 5px 10px;
  }
  
  .work ul>li h2 {  /*工作內容區塊公司名稱字體設定*/
    border: none;
    font-weight: 700;
    margin: 0;
  }
     
  .kvgflow { /*工作經歷高榮css圖片輪播區*/ 
                            width: 280px;
                            height:220px;
                            position: relative;
                        }
                        .kvgflow div{
                            display: inline-flex;
                            position: absolute;
                            top:2%;
                            left:0%;
                            opacity: 0;
                            filter: alpha(opacity=0);
                        /*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
                         -webkit-animation: kvgsilder 20s linear infinite;
                         animation: kvgsilder 20s linear infinite;
                        }
                        /*.coverflow>a>img{
                            max-width: 100%;
                        }
                        /*動畫關鍵影格*/
                        @-webkit-keyframes kvgsilder {
                            5% {
                                opacity: 1;
                                filter: alpha(opacity=100);
                            }
                            20% {
                                opacity: 1;
                                filter: alpha(opacity=100);
                            }
                            25% {
                                opacity: 0;
                                filter: alpha(opacity=0);
                            }
                        }
                        @keyframes kvgsilder {
                            5% {
                                opacity: 1;
                                filter: alpha(opacity=100);
                            }
                            20% {
                                opacity: 1;
                                filter: alpha(opacity=100);
                            }
                            25% {
                                opacity: 0;
                                filter: alpha(opacity=0);
                            }
                        }
                        /*每個圖片各延遲5秒*/


                        div.kvgflow div:nth-child(5) {
                            -webkit-animation-delay: 16s;
                                    animation-delay: 16s;     
                        }
                        div.kvgflow div:nth-child(4) {
                            -webkit-animation-delay: 12s;
                                    animation-delay: 12s;     
                        }
                        div.kvgflow div:nth-child(3) {
                            -webkit-animation-delay: 8s;
                                    animation-delay: 8s;               
                        }
                        div.kvgflow div:nth-child(2) {
                            -webkit-animation-delay: 4s;
                                    animation-delay: 4s;
                        }
                        div.kvgflow div:nth-child(1) {
                            -webkit-animation-delay: 0s;
                                    animation-delay: 0s;    
                        }
                        /*滑入時停止播放*/
                        div.kvgflow:hover div{
                        -webkit-animation-play-state: paused;
                                animation-play-state: paused;
                        } /*工作經歷高榮css圖片輪播區結束*/
  /*工作區塊結束*/
  
  /*學歷區塊css*/

  .education{    /*學歷最大整體區塊包含兩大學歷區塊*/
    background: url(backgrounds/eduback.png) no-repeat;
    background-size: cover;
    padding-bottom: 10px;
    }

  .education ul>li { /*margin top前空白*/
    display: flex; /*整個區塊宣告為block level，兩個學歷區塊的間格調整，第一學歷區塊和第二學歷區塊*/
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .education ul li span:after {/*學歷方型box後面黑色菱形*/
    content: ""; /*偽元素一定要具備 content 的屬性*/
    background-color: #3d3838;
    display: inline-flex;
    position: absolute;
    width: 20px;
    height: 20px;
    right: -8%;
    top: 25%;
    transform: rotate(45deg) translateY(-25%);
    z-index: -1;
  }
  .education ul li span {
    display: inline-flex;  /*學歷方型box，學位英文_整個區塊宣告為inline level但其內的box可以adjust高寬且同行*/
    height: 20px;
    width: 60px;
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    background-color: #3d3838;
    position: relative;
    z-index: 0;
  }

  .education ul>li ul { /*學歷黑線旁邊的間距及內容*/
    border-left: 1px solid;
    margin-left: 20px;
    padding-left: 10px;
    display: flex;
    position: relative;
  }
  
  .education ul>li ul:before { /*學歷黑線上面的小圓利用偽元素進行absolute定位*/
    content: "";
    width: 10px;
    height: 10px;
    background-color: purple;
    border-radius: 50%;
    position: absolute;
    left:-4.5px;
  }
  
  .education ul>li ul li { /*學歷內容*/
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
  }


  .coverflow {  /*學歷交大css圖片輪播區*/ 
                height:200px;
                position: relative;
                display: inline-flex;
                flex-direction: row;
                margin-left: 15px;
                margin-bottom: 30px;
            }
            .coverflow div{
                position: absolute;
                top:0%;
                left:0%;
                opacity: 0;
                filter: alpha(opacity=0);

            /*CSS3 Keyframes Animation*/
            /*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
             -webkit-animation: chiaosilder 32s linear infinite;
             animation: chiaosilder 32s linear infinite;
            }
            /*動畫關鍵影格*/
            @-webkit-keyframes chiaosilder { /*多了可以支持safari、ios、android*/
                3.125% {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
                12.5% {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
                15.625% {
                    opacity: 0;
                    filter: alpha(opacity=0);
                }
            }
            @keyframes chiaosilder { /*只能支持IE、Firefox、chrome*/
                3.125% {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
                12.5% {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }

                15.625% {
                    opacity: 0;
                    filter: alpha(opacity=0);
                }
            }
            /*每個圖片各延遲5秒*/
            div.coverflow div:nth-child(8) {
                -webkit-animation-delay: 0s;
                        animation-delay: 0s;     
            }
            div.coverflow div:nth-child(7) {
                -webkit-animation-delay: 4s;
                        animation-delay: 4s;     
            }
            div.coverflow div:nth-child(6) {
                -webkit-animation-delay: 8s;
                        animation-delay: 8s;     
            }
            div.coverflow div:nth-child(5) {
                -webkit-animation-delay: 12s;
                        animation-delay: 12s;     
            }
            div.coverflow div:nth-child(4) {
                -webkit-animation-delay: 16s;
                        animation-delay: 16s;     
            }
            div.coverflow div:nth-child(3) {
                -webkit-animation-delay: 20s;
                        animation-delay: 20s;               
            }
            div.coverflow div:nth-child(2) {
                -webkit-animation-delay: 24s;
                        animation-delay: 24s;
            }
            div.coverflow div:nth-child(1) {
                -webkit-animation-delay: 28s;
                        animation-delay: 28s;    
            }
            /*滑入時停止播放*/
            div.coverflow:hover div{
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
            } /*學歷交大css圖片輪播區結束*/ 

            .isuflow {  /*學歷義大css圖片輪播區*/ 
                height:200px;
                position: relative;
                display: inline-flex;
                flex-direction: row;
                margin-left: 15px;
                margin-bottom: 30px;
            }
            .isuflow div{
                position: absolute;
                top:0%;
                left:0%;
                opacity: 0;
                filter: alpha(opacity=0);
            /*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
             -webkit-animation: isusilder 24s linear infinite;
             animation: isusilder 24s linear infinite;
            }
            /*動畫關鍵影格*/
            @-webkit-keyframes isusilder {
                4.166% {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
                16.66% {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
                20.826% {
                    opacity: 0;
                    filter: alpha(opacity=0);
                }
            }
            @keyframes isusilder {
                4.166% {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
                16.66% {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
                20.826% {
                    opacity: 0;
                    filter: alpha(opacity=0);
                }
            }
            /*每個圖片各延遲5秒*/

            div.isuflow div:nth-child(6) {
                -webkit-animation-delay: 20s;
                        animation-delay: 20s;
            }
            div.isuflow div:nth-child(5) {
                -webkit-animation-delay: 16s;
                        animation-delay: 16s;     
            }
            div.isuflow div:nth-child(4) {
                -webkit-animation-delay: 12s;
                        animation-delay: 12s;     
            }
            div.isuflow div:nth-child(3) {
                -webkit-animation-delay: 8s;
                        animation-delay: 8s;               
            }
            div.isuflow div:nth-child(2) {
                -webkit-animation-delay: 4s;
                        animation-delay: 4s;
            }
            div.isuflow div:nth-child(1) {
                -webkit-animation-delay: 0s;
                        animation-delay: 0s;    
            }
            /*滑入時停止播放*/
            div.isuflow:hover div{
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
            } /*學歷義大css圖片輪播區結束*/ 

  .education ul>li h2 { /*在學期間的box*/
    border: none;
    margin: 0;
  }/*教育區塊css結束*/

/*software技能*/
.software{
    background: url(backgrounds/computerback.png) no-repeat;
    background-size: cover;
          }

  .software ul li {
    display: inline-block;
    width: 46%;
    padding: 8px 0px;
    margin-left: 1%;
    margin-right: 1%;
  }
  
  .software .bar { /*設定bar的長寬*/
    width: 250px;
    height: 15px;
    background-color: white;
    margin-top: 5px;
    border-radius: 30px;
  }
  
  .software .bar .p10 {
    width: 10%;
    height: 100%;
    background-color: #3d3838;
    border-radius: 30px;
    background-image: linear-gradient(-45deg, purple 25%, 
    transparent 25%, transparent 50%,greenyellow 50%, plum , transparent 75%, transparent);
    background-size: 24px 24px;
  }
  
  .software .bar .p20 {
    width: 20%;
    height: 100%;
    background-color: #3d3838;
    border-radius: 30px;
    background-image: linear-gradient(-45deg, purple 25%, 
    transparent 25%, transparent 50%,greenyellow 50%,plum  75%, transparent 75%, transparent);
    background-size: 24px 24px;
  }
  
  .software .bar .p30 {
    width: 30%;
    height: 100%;
    background-color: #3d3838;
    border-radius: 30px;
    background-image: linear-gradient(-45deg, purple 25%, 
    transparent 25%, transparent 50%,greenyellow 50%, plum 75%, transparent 75%, transparent);
    background-size: 24px 24px;
  }
  
  .software .bar .p40 {
    width: 40%;
    height: 100%;
    background-color: #3d3838;
    border-radius: 30px;
    background-image: linear-gradient(-45deg, purple 25%, 
    transparent 25%, transparent 50%,greenyellow 50%, plum 75%, transparent 75%, transparent);
    background-size: 24px 24px;
  }
  
  .software .bar .p50 {
    width: 50%;
    height: 100%;
    background-color: #3d3838;
    border-radius: 30px;
    background-image: linear-gradient(-45deg, purple 25%, 
    transparent 25%, transparent 50%,greenyellow 50%, plum  75%, transparent 75%, transparent);
    background-size: 24px 24px;
  }
  
  .software .bar .p60 {
    width: 60%;
    height: 100%;
    background-color: #3d3838;
    border-radius: 30px;
    background-image: linear-gradient(-45deg, purple 25%, 
    transparent 25%, transparent 50%,greenyellow 50%, plum  75%, transparent 75%, transparent);
    background-size: 24px 24px;
  }
  
  .software .bar .p70 {
    width: 70%;
    height: 100%;
    background-color: #3d3838;
    border-radius: 30px;
    background-image: linear-gradient(-45deg, purple 25%, 
    transparent 25%, transparent 50%,greenyellow 50%, plum  75%, transparent 75%, transparent);
    background-size: 24px 24px;
  }
  
  .software .bar .p80 {
    width: 80%;
    height: 100%;
    background-color: #3d3838;
    border-radius: 30px;
    background-image: linear-gradient(-45deg, purple 25%, 
    transparent 25%, transparent 50%,greenyellow 50%, plum  75%, transparent 75%, transparent);
    background-size: 24px 24px;
  }
  
  .software .bar .p90 {
    width: 90%;
    height: 100%;
    background-color: #3d3838;
    border-radius: 30px;
    background-image: linear-gradient(-45deg, purple 25%, 
    transparent 25%, transparent 50%,greenyellow 50%, plum 75%, transparent 75%, transparent);
    background-size: 24px 24px;
  }
  
  .software .bar .p100 {
    width: 100%;
    height: 100%;
    background-color: #3d3838;
    border-radius: 30px;
    background-image: linear-gradient(-45deg, purple 25%, 
    transparent 25%, transparent 50%,greenyellow 50%, plum 75%, transparent 75%, transparent);
    background-size: 24px 24px;
  }  

  .software h4 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    font-style: italic;
    text-shadow: 3px 3px 3px darkturquoise;
  }
  /*software結束*/
  
  /*cetification區塊*/
  .ceitem{       /*cetification大區塊包含1,2區塊*/
  display: flex;
  width: 100%;
  background: radial-gradient(ellipse farthest-side, lightyellow, lightblue);
  } 

  .cecontent {  /*cetification內容項目區塊1*/
    display:flex;
    width: 100%;
    padding: 10px 0px;
    font-family: 'Times New Roman', Times, serif,'標楷體';
  }

  .certicateflow {  /*證照css圖片輪播區塊2*/ 
                height:300px;
                position: relative;   
                display: flex;       
            }
            .certicateflow div{
                position: absolute;
                top:-96%;
                right:-60%;
                opacity: 0;
                filter: alpha(opacity=0);
            /*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
             -webkit-animation: certicatesilder 24s linear infinite;
             animation: certicatesilder 24s linear infinite;
            }
            /*動畫關鍵影格*/
            @-webkit-keyframes certicatesilder {
                4.166% {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
                16.66% {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
                20.826% {
                    opacity: 0;
                    filter: alpha(opacity=0);
                }
            }
            @keyframes certicatesilder {
                4.166% {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
                16.66% {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
                20.826% {
                    opacity: 0;
                    filter: alpha(opacity=0);
                }
            }
            /*每個圖片各延遲5秒*/

            div.certicateflow div:nth-child(6) {
                -webkit-animation-delay: 20s;
                        animation-delay: 20s;
            }
            div.certicateflow div:nth-child(5) {
                -webkit-animation-delay: 16s;
                        animation-delay: 16s;     
            }
            div.certicateflow div:nth-child(4) {
                -webkit-animation-delay: 12s;
                        animation-delay: 12s;     
            }
            div.certicateflow div:nth-child(3) {
                -webkit-animation-delay: 8s;
                        animation-delay: 8s;               
            }
            div.certicateflow div:nth-child(2) {
                -webkit-animation-delay: 4s;
                        animation-delay: 4s;
            }
            div.certicateflow div:nth-child(1) {
                -webkit-animation-delay: 0s;
                        animation-delay: 0s;    
            }
            /*滑入時停止播放*/
            div.certicateflow:hover div{
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
            } /*證照css圖片輪播區結束*/ 

  /*cetification區塊結束*/

  /*HONOR區塊*/
  .hritem{ /*HONOR 大區塊包含1,2區塊*/
    display: flex;
    width: 100%;
    background: url(backgrounds/hrdback.png) no-repeat;
    background-size: cover;
          }

  .hr{ /*HONOR 內容項目區塊1*/
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 10px 0px;
    font-family: 'Times New Roman', Times, serif,'標楷體';
    } /*cetification大區塊包含1,2區塊*/

  /*輪播跟證照區一樣 class=hrflow */
  .hrflow {  /*HONOR css圖片輪播區塊2*/ 
                height:300px;
                position: relative;   
                display: flex;      

            }
            .hrflow div{
                position: absolute;
                top:-106%;
                right:-60%;
                opacity: 0;
                filter: alpha(opacity=0);
            /*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
             -webkit-animation: hrsilder 24s linear infinite;
             animation: hrsilder 24s linear infinite;
            }
            /*動畫關鍵影格*/
            @-webkit-keyframes hrsilder {
                4.166% {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
                16.66% {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
                20.826% {
                    opacity: 0;
                    filter: alpha(opacity=0);
                }
            }
            @keyframes hrsilder {
                4.166% {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
                16.66% {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
                20.826% {
                    opacity: 0;
                    filter: alpha(opacity=0);
                }
            }
            /*每個圖片各延遲5秒*/

            div.hrflow div:nth-child(6) {
                -webkit-animation-delay: 20s;
                        animation-delay: 20s;
            }
            div.hrflow div:nth-child(5) {
                -webkit-animation-delay: 16s;
                        animation-delay: 16s;     
            }
            div.hrflow div:nth-child(4) {
                -webkit-animation-delay: 12s;
                        animation-delay: 12s;     
            }
            div.hrflow div:nth-child(3) {
                -webkit-animation-delay: 8s;
                        animation-delay: 8s;               
            }
            div.hrflow div:nth-child(2) {
                -webkit-animation-delay: 4s;
                        animation-delay: 4s;
            }
            div.hrflow div:nth-child(1) {
                -webkit-animation-delay: 0s;
                        animation-delay: 0s;    
            }
            /*滑入時停止播放*/
            div.hrflow:hover div{
            -webkit-animation-play-state: paused;
                    animation-play-state: paused;
            } /*HONOR css圖片輪播區結束*/ 
  /*HONOR區塊結束*/

  /*專業經歷(PROFESSIONAL EXPERIENCE)區塊*/
  .profe_div{ 
  display: flex;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif,'標楷體';
  background: url(photo/logolab1.png) no-repeat ;
  background-size: contain;
  background-position: center;  }
  p.professtitle{ /*各分項標題*/
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
  }
  li.profess{
  margin:6px; /*各細項內容*/
  line-height: 20px;}

  /*專業經歷(PROFESSIONAL EXPERIENCE)區塊結束*/

  .hobbies ul {
    margin-top: 20px;
  }
  
  .hobbies li {
    display: inline-block;
    text-align: center;
    width: 16%;
  }
  
  @media screen and (max-width: 576px){ /*設定手機RWD解析度調整 411 414 375*/ 
    *, ::after, ::before {box-sizing: content-box;}
    div.left{flex: 100%;} /*調整左右兩邊排版*/
    div.right{flex: 100%;}

    .content{flex-direction: column;} /*調整排列方向*/

    .header_itemrow1{margin-bottom: 15px;} /*header 頁首區書籤排版大小*/
    div.header_itemrow1>a{margin: 3px;}
    .header_itemrow2{margin-bottom: 15px;}
    div.header_itemrow2>a{margin: 1px;}
    
    .software ul li {  /*software排版*/

    padding: 8px 0px;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;}
    

  .certicateflow div{ /*證照排版*/
                top:6%;
                left:4%;
                border-style: none;
                }
  .hrflow div{ /*HONOR 排版*/
                top:6%;
                left: 6%;}
                

  .right { /*版面右邊占比*/
    padding: 20px 0px 20px 0px;
  }
}
  @media screen and (max-width: 768px){ /*設定平板RWD解析度調整 ipad 768 */ 
    *, ::after, ::before {
    box-sizing: content-box;}
    .header_itemrow1{margin-bottom: 15px;} /*header 頁首區書籤排版大小*/
    div.header_itemrow1>a{margin: 3px;}
    .header_itemrow2{margin-bottom: 15px;}
    div.header_itemrow2>a{margin: 1px;}

  .certicateflow {  /*證照css圖片輪播區塊2*/ 
                height:350px;}

  .certicateflow div{ /*證照排版*/
                top:6%;
                right:30%;
  }
  .hrflow {  /*HONOR css圖片輪播區塊2*/ 
                height:350px;}

  .hrflow div{ /*HONOR 排版*/
                top:6%;
                right:8%;}
              
              }

  @media screen and (max-width: 1024px){ /*設定大平板RWD解析度調整 ipad pro 1024 */ 
    *, ::after, ::before {
    box-sizing: content-box;}
    .header_itemrow1{margin-bottom: 15px;} /*header 頁首區書籤排版大小*/
    div.header_itemrow1>a{margin: 3px;}
    .header_itemrow2{margin-bottom: 15px;}
    div.header_itemrow2>a{margin: 1px;}

  .certicateflow {  /*證照css圖片輪播區塊2*/ 
                height:330px;}


  .certicateflow div{ /*證照排版*/
                top:10%;
                right:22%;}
  
  .hrflow {  /*HONOR css圖片輪播區塊2*/ 
                height:330px;}                    

  .hrflow div{ /*HONOR 排版*/
                top:6%;
                right:24%;
  }}

  @media screen and (min-width: 1200px){ /*設定RWD解析度調整 ipad >1200 */ 
    *, ::after, ::before {
    box-sizing: content-box;}
    
    .certicateflow {  /*證照css圖片輪播區塊2*/ 
                height:30px;}
    
    .certicateflow div{ /*證照排版*/
                top:-950%;
                right:-60%;                    
                border-style: groove;
                border-color: saddlebrown;
                border-width: medium;}

    .hrflow {  /*HONOR css圖片輪播區塊2*/ 
                height:30px;}   
    .hrflow div{ /*HONOR 排版*/
                top:-950%;
                right:-50%;
                border-style: groove;
                border-color: saddlebrown;
                border-width: medium;}
    }

    @media screen and (min-width: 1024px){
    .work ul>li ul:before { /*工作內容區塊上方小圓頭設定*/
    left: -1.3%;
  }}

  @media screen and (min-width: 1200px){
    .work ul>li ul:before { /*工作內容區塊上方小圓頭設定*/
    left: -0.7%;}}